/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GLOBAL */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    line-height: 1.6;

    background: linear-gradient(
        180deg,
        #02050a 0%,
        #06192e 40%,
        #02050a 100%
    );

    padding-top: 60px;
    padding-bottom: 120px;
}

/* GRID OVERLAY */
body::before {
    content: "";
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 0;

    background-image:
        linear-gradient(rgba(255,255,255,0.025) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255,255,255,0.025) 1px, transparent 1px);

    background-size: 48px 48px;
}

section,
.hero {
    position: relative;
    z-index: 1;
}

html {
    scroll-behavior: smooth;
}

section {
    max-width: 1000px;
    margin: auto;
    padding: 80px 40px;
}

/* NAVBAR */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background: rgba(0,0,0,0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    z-index: 10;
}

.logo {
    font-weight: bold;
    color: #4cc9ff;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #ffffff;
}

.nav-links a:hover {
    color: #4cc9ff;
}

/* HERO */
.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 12px;
}

.hero span {
    color: #4cc9ff;
}

.hero p {
    max-width: 520px;
    opacity: 0.85;
}

/* ICONS */
.hero-icons {
    display: flex;
    gap: 16px;
    margin-top: 24px;
}

.hero-icons a {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid rgba(255,255,255,0.45);
    border-radius: 10px;

    color: #ffffff;
    text-decoration: none;
    font-size: 18px;

    transition: all 0.25s ease;
}

.hero-icons a:hover {
    border-color: #4cc9ff;
    color: #4cc9ff;
    transform: translateY(-4px);
}

/* PROJECTS */
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
}

.project-card {
    border: 1px solid rgba(255,255,255,0.15);
    border-radius: 12px;
    padding: 20px;
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.6s ease;
}

.project-card span {
    color: #4cc9ff;
    font-size: 0.85rem;
}

/* SCROLL REVEAL */
.reveal.active {
    opacity: 1;
    transform: translateY(0);
}
